<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.SecurityDemo.mapper.memberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.SecurityDemo.domain.Member">
        <id column="id" property="id" />
        <result column="memberpoints" property="memberpoints" />
        <result column="memberclass" property="memberclass" />
        <result column="memberdiscounts" property="memberdiscounts" />
        <result column="createTime" property="createTime" />
        <result column="creator" property="creator" />
        <result column="updateTime" property="updateTime" />
        <result column="mender" property="mender" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, memberpoints, memberclass, memberdiscounts, createTime, creator, updateTime, mender
    </sql>
    <select id="findAll" resultType="com.example.SecurityDemo.domain.Member">
        select * from  member
    </select>
    <select id="GetMemberList" resultType="com.example.SecurityDemo.domain.Member">
          select * from  member
    </select>

</mapper>
