<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.SecurityDemo.mapper.ordershippingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.SecurityDemo.domain.Ordershipping">
        <id column="id" property="id" />
        <result column="orderid" property="orderid" />
        <result column="receivername" property="receivername" />
        <result column="receiverphone" property="receiverphone" />
        <result column="address" property="address" />
        <result column="createTime" property="createTime" />
        <result column="creator" property="creator" />
        <result column="updateTime" property="updateTime" />
        <result column="mender" property="mender" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, orderid, receivername, receiverphone, address, createTime, creator, updateTime, mender
    </sql>
    <select id="findAll" resultType="com.example.SecurityDemo.domain.Ordershipping">
        select * from ordershipping
    </select>
    <select id="GetOrdershippingList" resultType="com.example.SecurityDemo.domain.Ordershipping">
         select * from ordershipping
    </select>

</mapper>
