<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.SecurityDemo.mapper.storeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.SecurityDemo.domain.Store">
        <id column="id" property="id" />
        <result column="wechatoa" property="wechatoa" />
        <result column="name" property="name" />
        <result column="address" property="address" />
        <result column="phone" property="phone" />
        <result column="lawperson" property="lawperson" />
        <!--<result column="Unifcrenum" property="Unifcrenum" />-->
        <result column="juripersoncard" property="juripersoncard" />
        <result column="createTime" property="createTime" />
        <result column="creator" property="creator" />
        <result column="updateTime" property="updateTime" />
        <result column="mender" property="mender" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, wechatoa, name, address, phone, lawperson, Unifcrenum, juripersoncard, createTime, creator, updateTime, mender
    </sql>
    <select id="findAll" resultType="com.example.SecurityDemo.domain.Store">
        select * from store
    </select>
    <select id="GetSpecificationList" resultType="com.example.SecurityDemo.domain.Store">
        select * from store where 1=1
    </select>

</mapper>
