<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.SecurityDemo.mapper.SysLogininforMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.SecurityDemo.domain.SysLogininfor">
        <id column="info_id" property="info_id" />
        <result column="user_name" property="user_name" />
        <result column="ipaddr" property="ipaddr" />
        <result column="login_location" property="login_location" />
        <result column="browser" property="browser" />
        <result column="os" property="os" />
        <result column="status" property="status" />
        <result column="msg" property="msg" />
        <result column="login_time" property="login_time" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        info_id, user_name, ipaddr, login_location, browser, os, status, msg, login_time
    </sql>
    <insert id="insertLogininfor" parameterType="com.example.SecurityDemo.domain.SysLogininfor">
		insert into sys_logininfor (user_name, status, ipaddr, login_location, browser, os, msg, login_time)
		values (#{user_name}, #{status}, #{ipaddr}, #{login_location}, #{browser}, #{os}, #{msg}, sysdate())
	</insert>

    <select id="selectLogininforList" parameterType="com.example.SecurityDemo.domain.SysLogininfor" resultMap="BaseResultMap">
        select info_id, user_name, ipaddr, login_location, browser, os, status, msg, login_time from sys_logininfor
        <where>
            <if test="logininfor.ipaddr != null and logininfor.ipaddr != ''">
                AND ipaddr like concat('%', #{logininfor.ipaddr}, '%')
            </if>
            <if test="logininfor.status != null and logininfor.status != ''">
                AND status = #{logininfor.status}
            </if>
            <if test="logininfor.user_name != null and logininfor.user_name != ''">
                AND user_name like concat('%', #{logininfor.user_name}, '%')
            </if>
            <if test="logininfor.beginTime != null and logininfor.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(logininfor.login_time,'%y%m%d') &gt;= date_format(#{logininfor.beginTime},'%y%m%d')
            </if>
            <if test="logininfor.endTime != null and logininfor.endTime != ''"><!-- 结束时间检索 -->
                and date_format(logininfor.login_time,'%y%m%d') &lt;= date_format(#{logininfor.endTime},'%y%m%d')
            </if>
        </where>
        order by info_id desc
    </select>

    <delete id="deleteLogininforByIds" parameterType="Long">
        delete from sys_logininfor where info_id in
        <foreach collection="array" item="infoId" open="(" separator="," close=")">
            #{infoId}
        </foreach>
    </delete>

    <update id="cleanLogininfor">
        truncate table sys_logininfor
    </update>
</mapper>
