<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>User Login.</h3>

<form action="/login" method="POST">
    <div class="form-group">
        <label>用户名:</label>
        <input type="username" class="form-control" id="username" placeholder="Enter username" name="username">
    </div>
    <div class="form-group">
        <label>密码:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
    </div>
    <br>
    <div name="submit">
        <input type="submit" value="登录" / >
    </div>
    </a>
</form>

</body>
</html>